<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bahia Lang</title>
    <link href="{{ url_for('static', path='/styles.css') }}" rel="stylesheet" />
  </head>
  <body>
    <form action="/" method="post">
      <label for="code-input">Compilador de Baiano:</label>
      <textarea id="code-input" name="codeInput">{{previousCode}}</textarea>
      <button type="submit">Submit</button>
    </form>
    <span>Receba seu Python aí vá:</span>
    <pre><div>
      <p>{{ codeOutput | safe }}</p>
    </div></pre>
  </body>
</html>
